body {
    background-color: rgb(46, 45, 45);
}

h1 {
    color: white;
    text-align: center;
    margin-top: 50px;
    font-size: 100px;
}

#container {
    margin: auto;
    padding: 10px;
    text-align: center;
  }


button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 30px 64px;
    font-size: 24px;
    display: inline-block;
}

.button {
    display: inline-block;
    background-color: #4CAF50;
    border: none;
    color: white;
}

button:hover {
    background-color: black;
}

#display {
    color: white;
    text-align: center;
    font-size: 35px;
}
#resentTimes {
    color: white;
    text-align: center;
    font-size: 35px;
}